<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<head>
    <meta charset="UTF-8">
    <title> Chatting Room </title>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container" layout:fragment="content">
    <br><br><br>
    <div class="alert alert-success" id="successMessage" style="display : none">
        <strong>메세지 전송에 성공했습니다.</strong>
    </div>
    <div class="alert alert-danger" id="failMessage" style="display : none">
        <strong>메세지 전송에 실패했습니다. 잠시 후 다시 시도해 주세요.</strong>
    </div>
    <div class="alert alert-success" id="comeMessage" style="display : none">
        <strong>새로운 메세지가 도착했습니다!</strong>
    </div>
    <div class="alert alert-danger" id="nameMessage" style="display : none">
        <strong>이름을 다시 확인해주세요!</strong>
    </div>
    <div class="alert alert-success" id="noticeCome" style="display : none">
        <strong>새로운 알림이 도착했습니다!</strong>
    </div>


    <div class="container bootstrap snippet">
        <div class="row">
            <div class="col-xs-12">

                <div class="portlet portlet-default">
                    <div class="portlet-title">
                        <h4 class="fa fa-circle text-green" th:text = "${receiver}"></h4>
                        <hr>
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div id="chat" class="panel-collapse collapse in">

<!--                    메시지 출력-->
                    <div id = "space" class="portlet-body chat-widget" style="overflow-y : auto; width:auto; height:400px;">
                        <div class='row' th:each = "message:${messages}">
                            <div class='col-lg-12'>
                                <div class='media'>
                                    <div class='media-body'>
                                        <!--상대방 닉네임-->
                                        <h4 class='media-heading pull-left' th:if="${message.writer.memberNickname.toString().equals(receiver.toString())}" th:text="${message.writer.memberNickname}">테스트1</h4>
                                        <!--자신 닉네임-->
                                        <h4 class='media-heading pull-right' th:if="${!message.writer.memberNickname.toString().equals(receiver.toString())}" th:text="${message.writer.memberNickname}">테스트2</h4>
                                    </div>
                                    <br>
                                    <!--상대방 메시지 전송시간-->
                                    <p class="pull-left" th:text="${message.message}" th:if="${message.writer.memberNickname.toString().equals(receiver.toString())}">테스트3</p>
                                    <!--상대방 메시지-->
                                    <h4 class="small pull-left" th:if="${message.writer.memberNickname.toString().equals(receiver.toString())}" th:text="${#temporals.format(message.time, 'yyyy-MM-dd HH:mm:ss')}">테스트4</h4>
                                    <!--자신 메시지 전송시간-->
                                    <p class="pull-right" th:text="${message.message}" th:if="${!message.writer.memberNickname.toString().equals(receiver.toString())}">테스트5</p>
                                    <!--자신 메시지-->
                                    <h4 class="small pull-right" th:if="${!message.writer.memberNickname.toString().equals(receiver.toString())}" th:text="${#temporals.format(message.time, 'yyyy-MM-dd HH:mm:ss')}">테스트6</h4>
                                    <br>
                                </div>
                            </div>
                            <hr>
                        </div>
                    </div>

<!--                    메시지 입력-->
                    <div class="portlet-footer">
                        <div class="row">
                            <div class="form-group col-xs-4">
                            </div>
                        </div>
                        <div class="row" style="height:90px">
                            <div class="form-group col-xs-10">
                                <textarea id="message" class="form-control" placeholder="메시지를 입력하세요" maxlength="100"></textarea>
                            </div>
                            <div class="form-group col-xs-2">
                                <button type="button" class="btn btn-default pull-right" onclick = "send()">전송하기</button>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>



</div>


<th:block layout:fragment="script">
    <script th:inline = "javascript">
        /* <![CDATA[*/
        var id = /*[[${userId}]]*/;
        /* ]]> */
        function mypage(){
            if(id == 0){
                alert("로그인 후 이용해주세요");
            }
            else{
                window.location.href = "/users/myPage/" + id;
            }
        }
        /* <![CDATA[*/
        var chatRoomId = /*[[${chatRoomId}]]*/;
        /* ]]> */
        /* <![CDATA[*/
        var nickname = /*[[${nickname}]]*/;
        /* ]]> */
        /* <![CDATA[*/
        var receiver = /*[[${receiver}]]*/;
        /* ]]> */
        var stompClient = null;
        var d = new Date();
        connect();

        function connect() {
            var socket = new SockJS('/chat');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function () {
                stompClient.subscribe('/topic/' + nickname, function (e) {
                    if(e.body.toString() == "notice"){
                        alertClosing('noticeCome',2000);
                    }
                    else{
                        showMessageLeft(JSON.parse(e.body));
                        alertClosing('comeMessage',2000);
                    }
                });
            });
        }

        function disconnect() {
            if (stompClient !== null) {
                stompClient.disconnect();
            }
        }

        function send() {
            data = {'chatRoomId': chatRoomId, 'sender' :nickname, 'receiver': receiver,'message': $("#message").val()};
            console.log(data);
            stompClient.send("/app/chat/send", {}, JSON.stringify(data));
            add(data);
            $("#message").val('');
            alertClosing('successMessage',2000);
        }

        // function showMessageLeft(e) {
        //     space = document.getElementById("space");
        //     space.innerHTML = "<div class='row'> <div class='col-lg-12'> <div class='media'> <div class='media-body'> <h4 class='media-heading pull-left'>" +
        //         e.sender + "</h4></div><br> <p class='pull-left'>" +
        //         e.message + "</p><h4 class='small pull-left'>방금</h4> <br> </div> </div> </div> <hr>" + space.innerHTML;
        // };
        // function showMessageRight(e) {
        //     space = document.getElementById("space");
        //     space.innerHTML = "<div class='row'> <div class='col-lg-12'> <div class='media'> <div class='media-body'> <h4 class='media-heading pull-right'>" +
        //         e.sender + "</h4></div> <br><p class='pull-right'>" +
        //         e.message + "</p> <h4 class='small pull-right'>방금</h4> <br></div> </div> </div> <hr>" + space.innerHTML;
        // };
        // 추가
        function showMessageLeft(e) {
            $("#space").append("<div class='row'> <div class='col-lg-12'> <div class='media'> <div class='media-body'> <h4 class='media-heading pull-left'>" +
                e.sender + "</h4></div><br> <p class='pull-left'>" +
                e.message + "</p><h4 class='small pull-left'>방금</h4> <br> </div> </div> </div> <hr>" )
        };
        function showMessageRight(e) {
            $("#space").append("<div class='row'> <div class='col-lg-12'> <div class='media'> <div class='media-body'> <h4 class='media-heading pull-right'>" +
                e.sender + "</h4></div> <br><p class='pull-right'>" +
                e.message + "</p> <h4 class='small pull-right'>방금</h4> <br></div> </div> </div> <hr>")
        };


        window.onbeforeunload = function(e){
            disconnect();
        }

        function alertClosing(selector, delay){
            console.log(selector);
            document.getElementById(selector).style.display = "block";
            window.setTimeout(function(){
                document.getElementById(selector).style.display = "none";
            },delay);
        }


    </script>
</th:block>
</body>

</html>